{% extends 'base.html.twig' %}

{% block body %}
    <h1>403 Forbidden</h1>
    <p>
        You can't access this ressource. <a href="{{ path('app_home') }}">Return to the homepage</a>.
    </p>
{% endblock %}